@charset "UTF-8";
body { font: 14pt 'Alike', sans-serif; background-color: #E5EAF2;}
html, body{ 
    width: 100%; height: 100%; margin: 0; padding: 0; 
} 
html{
    font-size: 100%;
}
/* Responsive navbar with div clas="topnav" on Top of the page without any border with a black background and Add a background-color #f25042 to the active,current link */
.topnav {
    background-color: #020826;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    display: inline-block;
    height: 100%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #eaddcf;

    color: black;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #f25042;
    color: white;
  }

#detector { display:relative; width : 50%; height:0%; text-align: center; padding-top: 0%; margin-top: 0.5em; margin-left: 25%;}
#note { font-size: 24px; }
div.vague{ color: lightgray}
div.confident{ color: black}
/* Responsive navbar - display links on top of each other instead of side by side on small screens */
/* Display bigger navbar on small screens */
.btn-group{
  width: 50%; margin-left: 25%; display: flex; justify-content: space-evenly; 
}
.button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #f25042 0%, #f25042 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 50px;
  margin-top: 3.5em;
  border-radius: 6px;
  color: #fff;
  height: 40px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.button:hover {
      box-shadow: 0px 4px 8px #2d234266, 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #812921;
      transform: translateY(-2px);
  }
.button:active{
      box-shadow: inset 0px 3px 7px #020826;
      transform: translateY(2px);
}

.Tuning{ /* #F9F6EE */
  width: 70%; height: 550px; margin-left: 15%; padding-bottom: 1em; background-color: #F9F6EE; border-radius: 2em; border: 0.7em solid #ECF2F8;
  display: flex;
  flex-direction: row;
  flex-direction: right;
}

.outlinewheel{
  height: 450px;
  padding: 10%;
  width: 50%;
  padding-top: 144px;
}

.ControlPanel{
  margin: 3%;
  width: 50%;
}

.ControlTuner{
  margin-top: 10%;
  margin-right: 10%;
  border: 1px #e6e6e6 solid;
  height: 90%;
  width: 80%;
  border-radius: 2em;
  background-color: #fcfbfa;
}

#gauge {
  width: 50%;
  height: 10px;
  background-color: #ddd;
  position: relative;
  margin: 50px auto;
  border-radius: 1em;
}

#pointer {
  width: 6%;
  height: 10px;
  background-color: red;
  position: absolute;
  left: 47%;
  border-radius: 1em;
  transition: 0.6s;
}

#TenseEntry,#LengthEntry,#LinearMassEntry{
  width: 25%;
  text-align: center;
  background-color: #fcfbfa;
}

.wheel {
  width: 250px;
  height: 250px;
  border: 9px solid black;
  border-radius: 50%;
  position: relative;
  animation-duration: 2.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}


.wheel::before {
  content: "";
  width: 262px; /* smaller than the wheel to create a gap */
  height: 262px;
  border-radius: 50%;
  position: absolute;
  top: -12px; /* move the rim slightly inward */
  left: -12px;
  border: 6px dashed black;
  transform: rotate(10deg);
}

.spoke {
  width: 3px;
  height: 250px; /* diameter of the wheel */
  background-color: rgb(188, 187, 187);
  position: absolute;
  left: 123.5px; /* half of the width of the wheel */
}

.spoke1 {transform: rotate(30deg);}
.spoke2 {transform: rotate(60deg);}
.spoke3 {transform: rotate(90deg);}
.spoke4 {transform: rotate(120deg);}
.spoke5 {transform: rotate(150deg);}
.spoke6 {transform: rotate(180deg);}


/* Rotate the wheel and the spokes when hovered */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wheel:hover
{
  animation-play-state: running;
}


@media only screen and (max-device-width: 480px) {
  .buttonStart, .buttonStop {
    height: 5em;
    width: 5em;
    border-radius: 15%;
    font-size: 58px;
    background-color: lightgray;
    cursor:pointer;


  }  
  .buttonStart{
    position: absolute;
    left: 50%;
    top: 5em;
    transform: translate(-125%, -50%);
  }
  .buttonStop{
    position: absolute;
    left: 50%;
    top: 5em;
    transform: translate(25%, -50%);
  }
  
  .buttonStart:hover, .buttonStop:hover {
    color:white;
 }

  .topnav a {
    font-size: 58px;
  }
  
  .active{
    /* Center in 2em high div */
    line-height: 2em;
  }

  .btn-group{
    width: 100%; margin-left: 0%; display: flex; padding-bottom: 5%;
  }

  .button{
    padding: 0 1.5em;
    margin-top: 3.5em;
    height: 3em;
    font-size: 48px;
  }

  #FreqAim,#reglage{
    font-size: 30px
  }
  .Tuning{ /* #F9F6EE */
    width: 82%; height: 68%; margin-left: 5%; padding-bottom: 1em; background-color: #F9F6EE; border-radius: 2em; border: 2em solid #ECF2F8;
    display: flex;
    flex-direction: column;
    flex-direction: top;
    overflow: none;
  }

  .outlinewheel{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0%;
    width: 100%;
  }

  .wheel {
    width: 350px;
    height: 350px;
  }
  
  .wheel::before {
    width: 362px; /* smaller than the wheel to create a gap */
    height: 362px;
  }
  
  .spoke {
    height: 350px; /* diameter of the wheel */
    left: 173.5px; /* half of the width of the wheel */
  }

  .ControlPanel{
    width: 100%;
    height: 100%;
  }
  
  .ControlTuner{
    margin-top: 0%;
    margin-left: 2%;
    height: 100%;
    width: 90%;
  }

  #TenseEntry,#LengthEntry,#LinearMassEntry{
    width: 50%;
    text-align: center;
    background-color: #fcfbfa;
  }
}