@charset "UTF-8";
body { font: 14pt 'Alike', sans-serif; background-color: #E5EAF2;}
html, body{ 
    width: 100%; height: 100%; margin: 0; padding: 0; 
} 
html{
    font-size: 100%;
}
/* Responsive navbar with div clas="topnav" on Top of the page without any border with a black background and Add a background-color #f25042 to the active,current link */
/* shit things  */

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 15px;
  transition: background-color 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: #5f93f8;
}

input:checked + .slider:before {
  transform: translateX(14px);
}


.topnav {
    background-color: #020826;
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;
    width: 100%;
    z-index: 1;
    display: flex;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    display: inline-block;
    height: 100%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #5f93f8;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #5f93f8;
    color: white;
  }



#detector { display:relative; width : 50%; height:0%; text-align: center; padding-top: 0%; margin-top: 0.5em; margin-left: 25%;}
#note { font-size: 24px; }
div.vague{ color: lightgray}
div.confident{ color: black}

.btn-group{
  width: 80%; margin-left: 10%; display: flex; justify-content: space-evenly; margin-bottom: 0.8em ;
}
.button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #5f93f8 0%, #5f93f8 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 50px;
  border-radius: 6px;
  color: #fff;
  height: 40px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.button:hover {
      box-shadow: 0px 4px 8px #2d234266, 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #456fc4;
      transform: translateY(-2px);
  }
.button:active{
      box-shadow: inset 0px 3px 7px #020826;
      transform: translateY(2px);
}

.Tuning{ /* #F9F6EE */
  width: 70%; height: 80%; margin-left: 15%; padding-bottom: 1em; background-color: #f7f7f7; border-radius: 2em; border: 0.7em solid #ECF2F8;
  display: flex;
  flex-direction: row;
  flex-direction: right;
}

.Graphics{ /* #F9F6EE */
  width: 70%; height: 25%; margin-left: 15%; padding-bottom: 1em; background-color: #f7f7f7; border-radius: 2em; border: 0.7em solid #ECF2F8;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.outlinewheel{
  display: flex;
  margin-top : 5%;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.Animated{
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  transform:scale(0.9)
}

.description{
  display: block;
  /* Align vertically for block display */
  text-align: center;
  border: 1px #e6e6e6 solid;
  height: 30%;
  width: 90%;
  margin-left: 15%;
  border-radius: 2em;
  background-color: #fcfbfa;
  transition: ease-in-out 0.5s;
  box-sizing: border-box;
  padding: 0.8em;
  overflow:hidden
}

#helpingtext{
  color:#5b88e2;
  font-weight: bold;
  transition: filter 0.3s ease-in-out;
}

.text-blur{
  filter: blur(5px);
}

.ControlPanel{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 50%;
}

.ControlTuner{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #e6e6e6 solid;
  height: 90%;
  width: 70%;
  border-radius: 2em;
  background-color: #fcfbfa;
  transition: ease-in-out 0.5s;
}

.Controlelements{
  position:relative;
}

#gauge {
  width: 50%;
  height: 10px;
  background-color: #ddd;
  position: relative;
  margin: 4% auto;
  border-radius: 1em;
}

#pointer {
  width: 6%;
  height: 10px;
  background-color: green;
  position: absolute;
  left: 47%;
  border-radius: 1em;
  transition: 0.6s;
}

.Duration{
  width: 60%;
  display: inline-block;
  text-align: center;
  
}

#TenseEntry,#LengthEntry,#diameter,#density{
  width: 25%;
  text-align: center;
  background-color: #fcfbfa;
}

.wheel {
  width: 250px;
  height: 250px;
  border: 9px solid black;
  border-radius: 50%;
  position: relative;
  animation-duration: 2.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}


.wheel::before {
  content: "";
  width: 262px; /* smaller than the wheel to create a gap */
  height: 262px;
  border-radius: 50%;
  position: absolute;
  top: -12px; /* move the rim slightly inward */
  left: -12px;
  border: 6px dashed black;
  transform: rotate(10deg);
}

.hand.inactive {
  z-index: 1;
  position: relative;
  animation-play-state: paused;
}

.hand.active {
  /* put the image in the frontground*/
  z-index: 1;
  position: relative;
  animation-name: translate_hand;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-play-state: running;
}

.spoke {
  width: 3px;
  height: 250px; /* diameter of the wheel */
  background-color: rgb(188, 187, 187);
  position: absolute;
  left: 123.5px; /* half of the width of the wheel */
}

.spoke1 {transform: rotate(30deg);}
.spoke2 {transform: rotate(60deg);}
.spoke3 {transform: rotate(90deg);}
.spoke4 {transform: rotate(120deg);}
.spoke5 {transform: rotate(150deg);}
.spoke6 {transform: rotate(180deg);}

@keyframes translate_hand {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(60px);
  }
  50% {
    transform: translateX(60px) rotate(90deg);
  }
  75% {
    transform: translateX(60px) rotate(0deg);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {

    body{
    width: 110%;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.4s;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  input:checked + .slider {
    background-color: #5f93f8;
  }
  
  input:checked + .slider:before {
    transform: translateX(28px);
  }

  .topnav {
    display : inline-block;
  }

  #FreqAim, #reglage{
    font-size: 32px;
  }

  h4{
    font-size: 36px;
    margin-top: 3%;
  }

  .buttonstart {
    height: 5em;
    width: 5em;
    border-radius: 15%;
    font-size: 58px;
    background-color: lightgray;
    cursor:pointer;
  }  

  .topnav a {
    font-size: 48px;
  }
  
  .active{
    /* Center in 2em high div */
    line-height: 2em;
  }

  .btn-group{
    width: 100%; margin-left: 0%; display: flex; padding-bottom: 5%;
  }

  .button{
    padding: 0 1.5em;
    height: 2em;
    border-radius: 5%;
    font-size: 48px;
  }

  .Tuning{ /* #F9F6EE */
    width: 78%; height: 110%; margin-left: 7%; padding-bottom: 1em; border-radius: 2em; border: 2em solid #ECF2F8;
    display: flex;
    flex-direction: column;
    flex-direction: top;
    overflow: none;
  }

  .description{
    display: block;
    /* Align vertically for block display */
    text-align: center;
    border: 1px #e6e6e6 solid;
    height: 45%;
    margin-left: 0%;
    font-size: 32px;
  }
  

  .ControlPanel{
    margin-top: 0%;
  }

  .Animated{
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    transform:scale(0.8)
  }

  .outlinewheel{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    max-height: 40%;
    min-height: 40%;
    padding: 0%;
    width: 100%;
    -webkit-transform: scale(1);
    transform: ease-in-out 0.5s;
  }

  .wheel {
    width: 350px;
    height: 350px;
  }
  
  .wheel::before {
    width: 362px; /* smaller than the wheel to create a gap */
    height: 362px;
  }
  
  .spoke {
    height: 350px; /* diameter of the wheel */
    left: 173.5px; /* half of the width of the wheel */
  }

  .ControlPanel{
    width: 100%;
    height: 100%;
  }
  
  .ControlTuner{
    margin-top: 0%;
    margin-left: 2%;
    height: 100%;
    width: 90%;
  }

  #TenseEntry,#LengthEntry,#density,#diameter{
    width: 50%;
    text-align: center;
    background-color: #fcfbfa;
  }

  #gauge {
    height: 20px;
  }
  
  #pointer {
    height: 20px;
  }

}

@media only screen and (max-device-width: 700px) and (min-device-width: 481px){

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.4s;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  input:checked + .slider {
    background-color: #5f93f8;
  }
  
  input:checked + .slider:before {
    transform: translateX(28px);
  }

  .topnav {
    display : inline-block;
  }

  h4, #FreqAim, #reglage{
    font-size: 36px;
  }

  .buttonstart {
    height: 5em;
    width: 5em;
    border-radius: 15%;
    font-size: 42px;
    background-color: lightgray;
    cursor:pointer;
  }  

  .topnav a {
    font-size: 48px;
  }
  
  .active{
    /* Center in 2em high div */
    line-height: 2em;
  }

  .btn-group{
    width: 100%; margin-left: 0%; display: flex; padding-bottom: 5%;
  }

  .button{
    padding: 0 1.5em;
    height: 2em;
    border-radius: 5%;
    font-size: 42px;
  }

  .Tuning{ /* #F9F6EE */
    width: 82%; height: 100%; margin-left: 5%; padding-bottom: 1em; border-radius: 2em; border: 2em solid #ECF2F8;
    display: flex;
    flex-direction: column;
    flex-direction: top;
    overflow: none;
  }

  .description{
    display: block;
    /* Align vertically for block display */
    text-align: center;
    border: 1px #e6e6e6 solid;
    height: 45%;
    margin-left: 0%;
    font-size: 32px;
  }

  .ControlPanel{
    margin-top: 0%;
  }

  .Animated{
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    transform:scale(0.8);
    margin-bottom: 5%;
  }

  .outlinewheel{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    padding: 0%;
    width: 100%;
  }

  .wheel {
    width: 350px;
    height: 350px;
  }
  
  .wheel::before {
    width: 362px; /* smaller than the wheel to create a gap */
    height: 362px;
  }
  
  .spoke {
    height: 350px; /* diameter of the wheel */
    left: 173.5px; /* half of the width of the wheel */
  }

  .ControlPanel{
    width: 100%;
    height: 100%;
  }
  
  .ControlTuner{
    margin-top: 0%;
    margin-left: 2%;
    height: 100%;
    width: 90%;
  }

  #TenseEntry,#LengthEntry,#density,#diameter{
    width: 50%;
    text-align: center;
    background-color: #fcfbfa;
  }

  #gauge {
    height: 20px;
  }
  
  #pointer {
    height: 20px;
  }

}

@media only screen and (min-width: 390px) and (max-width: 1024px) and (orientation: landscape){

  .Tuning{
    height: 200%;
  }
  
}